__pucache__/
*.pyc
.env
.ipynb_checkpoints
venv/
data/
models/
runs/
yolov8n.pt
yolo11n.pt
yolo26n.pt
rtdetr-l.pt
example.jpg
temp/

#####################################
# GARION IGNORES:
#####################################
# Virtual environment
env/
.venv/
# Python cache
__pycache__/
*.pyc
# Mac system files
.DS_Store
# VS Code settings
.vscode/
# Python package metadata
*.egg-info/
# Personal reference notes
ref.md
#####################################